*{
    margin: 0;
    padding: 0;
    font-family:"Luckiest Guy", sans-serif;
}


/* Estilos para a barra de navegação */
.navbar {
    background-color: #FFBD57; /* Cor de fundo */
    padding: 0;
    margin: 0;
}

.navbar a {
    text-decoration: none; /* Remove o sublinhado */
    color: #000000; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    padding: 10px 20px; /* Espaçamento em volta dos links */
    margin: 0 10px; /* Espaçamento lateral entre os links */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.navbar li:hover {
    background-color: #EB6D0B; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
}

.offcanvas{
    background-color: #FFBD57 !important;
    
}
div .offcanvas-body{
    padding: 0;
}
.offcanvas-header{
    color: #000000;

}
a.nav-link{
    padding-left: 10px;
}
