/* footer{
    margin: 20px 20px;
} */

/* container fluido */
.rodape{
    padding: 20px 20px;
    background-color: #3E4096;
    /* border-radius: 20px; */
}



/* container redes */
.redes{
    align-items: center !important;
    text-align: center !important;
    justify-content: space-between !important;
    border-radius: 20px !important;
}
/* icones redes */
.rede{
    color: white!important;
}
.rede:hover{
    color: black!important;
}



/* container botao contate */
.botao_contate{
    background-color: #6787E7 !important;
    font-family:"Luckiest Guy", sans-serif !important;
    border: 1px solid transparent!important;
    padding: 4px!important;
    border-radius: 20px!important;
    align-items: center!important;
    text-align: center!important;
    justify-content: center!important;

}
/* tag <a> com o contate*/
.contate-nos{
    color: white !important;
    text-decoration: none !important;
}
.contate-nos:hover{
    color: black !important;
}



/* container direitos autorais */
.direitos{
    text-align: center !important;
    border-radius: 20px!important;
    color: white !important;
    align-items: center!important;
}
div.direitos{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

}


