*{
    margin: 0;
    padding: 0;
    font-family:"Luckiest Guy", sans-serif;
}

/* Estilos para a barra de navegação */
.navbar {
    background-color: #FFBD57; /* Cor de fundo */
    padding: 10px; /* Espaçamento interno */
    text-align: center; /* Centraliza os itens */
    margin-bottom: 30px;
}

.navbar a {
    text-decoration: none; /* Remove o sublinhado */
    color: #ffffff; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    padding: 10px 20px; /* Espaçamento em volta dos links */
    margin: 0 10px; /* Espaçamento lateral entre os links */
    display: inline-block; /* Faz os links se comportarem como blocos inline */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.navbar a:hover {
    background-color: #EB6D0B; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
}
.row_titulo{
    padding-top: 15px;
    background-color: #6787E7;
    text-align: center;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 50px;
    
}
body{
    background-color: #8DA5ED !important;
    font-family: 'Luckiest Guy', cursive; /* Aplica a fonte ao corpo do site */
}
.row_subtitulo{
    text-align: center;
    padding-top: 6px;
    height: 55px;
    border-radius: 20px;
    background-color: #3E4096;
    color: white;
}
.ubuntu-font{
    background-color: #F6CC3A;
    margin-top: 80px;
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif !important; /* Aplica a fonte Ubuntu apenas a este container */
}

.teste{
    background-color: #6787E7;
}