*{
    margin: 0;
    padding: 0;
    font-family:"Luckiest Guy", sans-serif;
}

body{
    background-color: #8DA5ED !important;
    font-family: 'Luckiest Guy', cursive; /* Aplica a fonte ao corpo do site */
}

/* Estilos para a barra de navegação */

.navbar {
    background-color: #FFBD57; /* Cor de fundo */
    padding: 0;
    margin: 0;
}

.navbar a {
    text-decoration: none; /* Remove o sublinhado */
    color: #000000; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    padding: 10px 20px; /* Espaçamento em volta dos links */
    margin: 0 10px; /* Espaçamento lateral entre os links */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.navbar li:hover {
    background-color: #EB6D0B; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
}

.offcanvas{
    background-color: #FFBD57 !important;
    
}
div .offcanvas-body{
    padding: 0;
}
.offcanvas-header{
    color: #000000;

}
a.nav-link{
    padding-left: 10px;

    /* titulo */

}
.titulo{
    padding-top: 15px;
    background-color: #6787E7;
    text-align: center;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 90px;
}

/* subtitulo */

.row_subtitulo{
    text-align: center;
    padding-top: 6px;
    height: 55px;
    border-radius: 20px;
    background-color: #3E4096;
    color: white;
    font-family: "Ubuntu", serif;
}

/* descrição */

.descricao{
    background-color: #F6CC3A;
    margin-top: 80px;
    padding-top: 18px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif !important; /* Aplica a fonte Ubuntu apenas a este container */
}

/* carrosel */

#carouselExampleCaptions{
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 140px;
}

/* rodape */

.redes{
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #6787E7;
    border-radius: 20px;
}
.contate{
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #6787E7;
    border-radius: 20px;
}
.botao_contate{
    background-color: #6787E7;
    width: 270px;
    color: white;
    font-family:"Luckiest Guy", sans-serif;
    font-size: 25px;
    border: 2px solid transparent;
}
.direitos{
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
}
.footer{
    background-color: #3E4096;
}


.btn.rede{
    background-color: #6787E7;
    border:1px solid transparent;
    color: white;
}
.rede:hover{
    color: black;
}
.botao_contate:hover{
    color: black;
}
