/* style navbar */



/* Estilos para a barra de navegação */
.navbar {
    background-color: #FFBD57; /* Cor de fundo */
    padding: 0;
    margin: 0;
    font-family:"Luckiest Guy", sans-serif !important;

}

.navbar a {
    text-decoration: none; /* Remove o sublinhado */
    color: #000000; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    padding: 10px 20px; /* Espaçamento em volta dos links */
    margin: 0 10px; /* Espaçamento lateral entre os links */
    transition: background-color 0.3s ease; /* Transição suave ao passar o mouse */
}

.navbar li:hover {
    background-color: #EB6D0B; /* Cor de fundo ao passar o mouse */
    border-radius: 5px; /* Bordas arredondadas */
}

.offcanvas{
    background-color: #FFBD57 !important;
    
}
div .offcanvas-body{
    padding: 0;
}
.offcanvas-header{
    color: #000000;

}
a.nav-link{
    padding-left: 10px;
}


/* style pagina contato*/

.tel{
    width: 50%;
}
.idade{
    width: 50%;
}
.data{
    width: 50%;
}
.pessoas{
    width: 50%;
}
.formulario{
    background-color: #6787E7;
    border-radius: 20px;
}
body{
    background-color: #8DA5ED !important;
}
.enviar{
    background-color: green !important;
    border: 1px solid green !important;
}
.insta{
    background-color: rgb(168, 16, 214) !important;
    border:1px solid rgb(168, 16, 214) !important;

}

@media (min-width: 576px) { 
    .container-fluid.formulario{
        width: 100%;
        padding: 3%;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container-fluid.formulario{
        width: 50%;
        padding:3%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container-fluid.formulario{
        width: 40%;
        padding:3%;
    }
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container-fluid.formulario{
        width: 40%;
        padding:3%;
    }
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    .container-fluid.formulario{
        width: 40%;
        padding:3%;
    }
}
 
