.titulo_cabecalho{
    font-family:"Luckiest Guy", sans-serif;
    font-size: 70px;
    color: black;
}
/* ul{
    background-color: #6787E7;
    width: 25%;
    justify-self: center;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
} */
.nav-pills{
    justify-content: center;
}

body{
    background-color: #8DA5ED  !important;
}

.texto{
    background-color: #F6CC3A;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #EB6D0B;
}

.nav-link{
    font-family:"Luckiest Guy", sans-serif;
    color: black !important;
}

.nav-link.active{
    background-color: #EB6D0B !important;
}
.nav-link:hover{
    background-color: white !important;
}