body{
    background-color: #8DA5ED !important;
}
.row_cabecalho{
    background-color: #6787E7;
    border-radius: 20px;
    margin:0 10% !important;
}
.titulo_cabecalho{
    color: black;
}
.t1_cabecalho{
    font-size: 70px;
    font-family:"Luckiest Guy", sans-serif;
}
.t2_cabecalho{
    font-size: 40px;
    font-family:"Luckiest Guy", sans-serif;

}
.col_imagem_cabecalho{
    padding: 0 !important;
    margin: 0 !important;
}
.imagem_cabecalho{
    width: 160px;
}

/* .teste{
    background-color: #F6CC3A;
} */


/* subtitulo */


.texto_descricao{
    background-color: #F6CC3A;
    padding: 30px;
    border-radius: 20px;
    font-family: 'Ubuntu', sans-serif !important; 
    /* Aplica a fonte Ubuntu apenas a este container */
}


/* carrosel */


@media (min-width: 576px) { 
    #carouselExampleCaptions{
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #carouselExampleCaptions{
        margin-top: 20px;
        margin-left: 140px;
        margin-right: 140px;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #carouselExampleCaptions{
        margin-top: 20px;
        margin-left: 140px;
        margin-right: 140px;
    }
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #carouselExampleCaptions{
        margin-top: 20px;
        margin-left: 140px;
        margin-right: 140px;
    }
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    #carouselExampleCaptions{
        margin-top: 20px;
        margin-left: 140px;
        margin-right: 140px;
    }
}
 
