body {
    background-color: #8DA5ED !important;
    font-family: "Luckiest Guy", sans-serif;
}

#logo2 {
    width: 200px;
    height: 200px;
}

h1 {
    font-family: "Luckiest Guy", sans-serif;
    color: black !important;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #000000;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    border: 1px solid black !important;


}

table{
    background-color: rgb(204, 204, 204);
}
td{
    border: 1px solid black !important;

}

th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black !important;
    
}