body{
    background-color: #8DA5ED !important;
}
/* cabecalho */
.row_cabecalho {
    background-color: #6787E7;
    border-radius: 20px;
    margin: 0 10% !important;
    padding: 2.5%;
    justify-content: end;
}
.row_titulo_cabecalho{
    width: 100%;
    height: 100%;
}
.col_titulo_cabecalho {
    color: black;
    text-align: center;
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.imagem_cabecalho{
    max-width: 100%; 
    max-height: 100%; 
    height: 160px; 
    width: 160px;
}
.t1_cabecalho {
    width: 100%;
    height: 100%;
    font-size: 4.0rem;
    font-family: "Luckiest Guy", sans-serif;
    word-wrap: break-word;
}

.t2_cabecalho {
    width: 100%;
    height: 100% !important;
    font-size: 2.3rem;
    font-family: "Luckiest Guy", sans-serif;
    word-wrap: break-word;
}

.col_imagem_cabecalho {
    padding: 0 !important;
    margin: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem_cabecalho {
    max-width: 100%;
    max-height: 100%;
}




/* descricao */
.h1_descricao {
    width: 100%;
    height: 100% !important;
    font-size: 2.2rem;
    margin-top: 1%;
    padding: 5px;
    font-family: "Luckiest Guy", sans-serif;
}

.col_titulo_descricao {
    background-color: #3E4096;
    border-radius: 20px;
    color: white;
}
.col_texto_descricao {
    
    padding: 30px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif !important;
}


.divider {
    border-top: 10px dashed #F6CC3A;
    width: 70%;
    justify-self: center;
}

.col_espaco{
    width: 1% !important;

}

/* quem somos */
.row_quem_somos{
    background-color: #3E4096;
}

.row_titulo_quem_somos{
    margin-bottom: 30px;

}
.row_titulo_quem_somos h1{
    font-family: "Luckiest Guy", sans-serif !important;
}
.col_texto_quemsomos {
    color: white;

}
.row_texto_quem_somos p{
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 1.2vw;
}


/* carrossel */
.imagem-div {
    justify-content: center;
    width: 100%;
    height: auto;
}

.carousel-item > .imagem-div img {
    height: auto;
    object-fit:cover;      
    width: 100%;
    max-height:100%;
} 
.carousel{
    object-fit: cover !important;
}

.col_carrossel{
    padding: 0 !important;
}
.row_carrossel{
    object-fit: cover !important;
    background-color: #3E4096 !important;
}

@media (max-width: 768px) {
    .row_texto_quem_somos p{
        font-size: 1.0rem;
    }

}

/* carrossel */


 /* .carousel-indicators img{
    width: 70px !important;
    display: block;
    border-radius: 5px;

}
.carousel-indicators button{
    width: max-content !important;

}
.carousel-indicators{
    position: unset;
    
}

.carousel-control-prev{
    display: inline-block;

}
.carousel-control-next{
    display: inline-block;

}

.carousel-indicators button.active img{
    border: 2px solid red;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: black!important;
    width: 40px;
    height: 40px;
} */


