.titulo_cabecalho{
    font-family:"Luckiest Guy", sans-serif;
    font-size: 70px;
    color: black;
}




.row_card_descricao{
    background-color: #F6CC3A !important;
    border: 5px solid #EB6D0B !important;
    border-radius: 20px;
    height: 100% !important;
}

.titulo_descricao{
    font-family:"Luckiest Guy", sans-serif;
    color: black;
    font-size: 2rem;
}

.texto_descricao{
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 1.1rem;
    

}

.nav-pills{
    justify-content: center;
}

body{
    background-color: #8DA5ED  !important;
}

ul.caixa{
    margin: 0 35%;
    border-radius: 20px;
    background-color: #6787E7;
}

.img_descricao{
    max-width: 100%; 
    max-height: 100%; 
    height: auto; 
    width: auto;
}

.nav-link{
    font-family:"Luckiest Guy", sans-serif;
    color: black !important;
}

.nav-link.active{
    background-color: #EB6D0B !important;

}
.nav-link:hover{
    color:white !important;

}