.oficina {
    color: white;
    font-size: 50px;
    border-bottom: white solid 3px;
    display: inline-block;
    padding: 1px;
    margin-right: 300px;
}

body {
    font-family: 'Luckiest Guy', cursive;
}

.col-xlg-12 {
    background-color: rgb(141, 165, 237);

}

.imagem1 {

    float: right;
}

img {
    max-width: 100%;
    height: auto;
}

.navbar {
    background-color: orange;
    padding: 10px;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 10px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.navbar a:hover {
    background-color: palevioletred;    /* Cor de fundo ao passar o mouse */
    
    border-radius: 5px;
}