.titulo_cabecalho{
    font-family:"Luckiest Guy", sans-serif;
    font-size: 70px;
    color: black;
}

.titulo_eventos{
    font-family:"Luckiest Guy", sans-serif;
    font-size: 30px;
    color: black;
}
.texto_eventos{
    margin: 20px !important;
}
.row_descricao{
    background-color: #F6CC3A !important;
   }

.nav-pills{
    justify-content: center;
}

body{
    background-color: #FFBD57  !important;
}

ul.caixa{
    margin: 0 35%;
    border-radius: 20px;
    background-color: #6787E7;
}

  .img_descricao{
    max-width: 100% !important; 
    max-height: 100% !important; 
    height: auto !important; 
    width: 100px !important;
  }
  .col_imagem_descricao{
    object-fit: cover !important;
    padding: 0 !important;
  }
.nav-link{
    font-family:"Luckiest Guy", sans-serif;
    color: black !important;
}

.nav-link.active{
    /* text-decoration: underline solid  #EB6D0B 3px; */
    background-color: #EB6D0B !important;

}
.nav-link:hover{
    transform: scale(1.1);
}


/* cards */
.card_image{
    border-radius: 7px !important;
}
.card{
    background-color: #F6CC3A !important;
    /* box-shadow: 2px 2px 2px 2px #EB6D0B; */
    transition: 0.3s;
    border-radius: 15px !important;
}
.card-text{
    font-family: 'Ubuntu', sans-serif !important;
    color: black !important;
    padding: 20px;
    text-align: justify !important;
    font-size: 17px;

}
.card-title{
    font-family:"Luckiest Guy", sans-serif;
    color: black !important;
    margin-bottom: 10px !important;
    margin: 20px !important;
    padding: 2px;

}



.divisoria {
    width: 100%;
    height: 1px;
    background: #000000; /* Cor preta */
    margin: 20px 0; /* Espaçamento superior e inferior */
}

.col_pills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px !important;

}

ul.nav-pills{
    margin: 0 !important;
    padding: 0;
    background-color: #6787e7;
    width: 40%;
    border-radius: 15px;
    box-shadow: 0px 0px 15px -3px #117;
}

