body{
    background-color: #FFBD57 !important;
}


.imagem_cabecalho{
    max-width: 100% !important; 
    max-height: 100% !important; 
    height: auto !important; 
    width: 80px !important;
}
.row_carrossel{
    background-color: #3E4096;
    color: white;
}
.col_carrossel{
    padding: 0 !important;
    height: auto !important;

}

img.img_carrossel{
    height: 100% !important;
    max-height:600px !important; 
    object-fit: cover !important;
}


.col_texto_carrossel{
    padding: 10px !important;
}
#texto1{
    margin-top: 15px;
}
#texto1, #texto2{
    font-size: 2.8vw;
    font-family: "Luckiest Guy", sans-serif;
}
#texto3{
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 1.2vw;
    padding: 15px !important;
    margin-bottom: 0 !important;
    word-spacing: 3px;

}
#texto4{
    font-family: 'Ubuntu', sans-serif !important;

}
.botao_carrossel{
    margin: 10px !important;
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 1.3vw !important;
    padding: 10px !important;
    color: #2d2e7e !important;
    box-shadow: 0px 0px 15px -3px #117;

}



@media (max-width: 1200px) {
    .row_texto_quem_somos p{
        font-size: 1.1rem;
    }
    .col_texto_quem_somos{
        text-align: center !important;
        padding: 20px !important;
        margin: 20px !important;

    }
    .row_quem_somos{
        justify-content: center !important;
        
    }
  
    div.col_texto_quem_somos{
        padding: 20px !important;
    }
    .row_titulo_quem_somos{
        margin-top: 40px !important;
    }
    .botao_carrossel{
        font-family: 'Ubuntu', sans-serif !important;

    }
}
@media (max-width: 992px) {
    .col_texto_carrossel{
        padding: 20px !important;
    }
    #texto1, #texto2{
        font-size: 30px;
        font-family: "Luckiest Guy", sans-serif;
    }
    #texto2{
        margin-bottom: 20px !important;
    }
    #texto3{
        font-family: 'Ubuntu', sans-serif !important;
        font-size: 18px;
        padding: 0!important;
        margin: 20px !important;
    }
    #texto1{
        margin-top: 20px !important;
    }
    .botao_carrossel{
        margin: 25px !important;
        font-family: 'Ubuntu', sans-serif !important;
        font-size: 18px !important;
    }
    img.img_carrossel{
        height: 100% !important;
        max-height:500px !important; 
        object-fit: cover !important;
    }
}


#texto6, #texto8, #texto10{
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 17px !important;
}

.card-title{
    font-family: "Luckiest Guy", sans-serif !important;
    font-size: 30px !important;

}

.card{
    height: 100% !important;
    border-radius: 20px !important;
    padding: 20px !important;
    background-color: white!important;
    color: black !important;
    box-shadow: 0px 0px 25px -3px #117;
}
.botao_card{
    font-family: 'Ubuntu', sans-serif !important;
    padding: 10px !important;
    word-spacing: 5px;
    font-size: 18px !important;
    box-shadow: 0px 0px 15px -3px #117;

}
.card-header{
    height: 100% !important;
    color: #3E4096 !important;
}
.card-text{
    font-family: 'Ubuntu', sans-serif !important;
    word-spacing: 3px;
    margin-bottom: 20px !important;
}
.btn-secondary{
    background-color: #3E4096 !important;
    color: white !important;
}

.botao_card:hover{
    /* background-color: #1a1c70 !important; */
    transform: scale(1.1) !important;
}

.botao_carrossel:hover{
    transform: scale(1.1) !important;
}





  .fancy {
    --b: 6px;   /* control the border thickness */
    --w: 80px;  /* control the width of the line*/
    --g: 15px;  /* control the gap */
    --c: #3E4096;
   
    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    border: 1px solid;
    color: #fff;
    background: 
      conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
      conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
    background-size: 51% 100%;
    background-origin: border-box;
    background-repeat: no-repeat;
    border-image: 
       linear-gradient(
         #0000      calc(50% - var(--b)/2),
         var(--c) 0 calc(50% + var(--b)/2),
         #0000    0) 
      1/0 var(--w)/calc(var(--w) + var(--g));
    margin-inline: auto;
  }
  
