.cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
.cookie-popup p {
    font-family: 'Ubuntu', sans-serif !important;
    margin: 0;
    flex: 1;
}
.cookie-popup button {
    background-color: #3E4096;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 16px;
}
.cookie-popup button:hover {
    background-color: #2d2e85;
}