#imagem9 {
    width: 1500px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    image-rendering: optimizeQuality;
} 

#imagem10 {
    width: 1500px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    image-rendering: optimizeQuality;

} 

.brilho{
    height: 150px;
    width:150px ;
    max-width: 100%;
    max-height: 100%;
}

.titulo_cabecalho{
    font-family:"Luckiest Guy", sans-serif;
    font-size: 70px;
    color: black !important;
}
.col_texto_descricao{
    padding: 20px !important;
}
.titulo_descricao{
    font-family:"Luckiest Guy", sans-serif;
    font-size: 40px;
    color: white;
}
p{
    /* troca o p e add algum nome de classe la onde tá o paragrafo é só pra n dar comflito com alguma outra tag p */
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 17px;
    color: white !important;
    padding: 10px !important;

}
.container_descricao{
    background-color: #3E4096;
}
.row_descricao{
    padding: 40px 0 !important;
}
body{
    background-color: #FFBD57  !important;
}

#brilho0 {
    width: 150px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 400px;
    right: 20px;

}

#brilho1 {
    width: 150px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 450px;
    right: 700px;

}

#brilho2 {
    width: 100px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 610px;
    right: 50%;

}

#brilho3{
    width: 150px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 1180px;
    right: 100px;

}

#brilho4 {
    width: 110px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 1190px;
    right: 750px;

}


#brilho5 {
    width: 100px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 1500px;
    right: 50%;

}

#brilho6 {
    width: 80px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 2000px;
    right: 200px;


}

#brilho7 {
    width: 80px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 1850px;
    right: 980px;

}

#brilho8 {
    width: 90px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 1100px;
    right: 10px;
} 


@media (max-width: 1480px) {
    #brilho0, #brilho1, #brilho2, #brilho3, #brilho4, #brilho5,#brilho6, #brilho7, #brilho8 {
      display: none;
    }
  }
