#imagem9 {
    width: 1500px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    image-rendering: optimizeQuality;
} 

#imagem10 {
    width: 1500px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    image-rendering: optimizeQuality;

} 

.brilho{
    height: 150px;
    width:150px ;
    max-width: 100%;
    max-height: 100%;
}

.titulo_cabecalho{
    font-family:"Luckiest Guy", sans-serif;
    font-size: 70px;
    color: black !important;
}
.col_texto_descricao{
    padding: 20px !important;
}
.titulo_descricao{
    font-family:"Luckiest Guy", sans-serif;
    font-size: 40px;
    color: white;
}
p{
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 17px;
    color: white !important;
    padding: 10px !important;

}
.container_descricao{
    background-color: #3E4096;
}
.row_descricao{
    padding: 40px 0 !important;
}
body{
    background-color: #FFBD57  !important;
}

#imagem0 {
    width: 150px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 400px;
    right: 20px;

}

#imagem1 {
    width: 150px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 450px;
    right: 700px;

}

#imagem2 {
    width: 100px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 610px;
    right: 50%;

}

#imagem3 {
    width: 150px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 1180px;
    right: 100px;

}

#imagem4 {
    width: 110px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 1190px;
    right: 750px;

}


#imagem5 {
    width: 100px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 1500px;
    right: 50%;

}

#imagem6 {
    width: 80px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 2000px;
    right: 200px;


}

#imagem7 {
    width: 80px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 1850px;
    right: 980px;

}

#imagem8 {
    width: 90px;
    height: auto;
    z-index: 10;
    overflow: visible;
    position: absolute;
    top: 1100px;
    right: 10px;
} 


@media (max-width: 1480px) {
    #imagem0, #imagem1, #imagem2, #imagem3, #imagem4, #imagem5,#imagem6, #imagem7, #imagem8 {
      display: none;
    }
  }