/* footer{
    margin: 20px 20px;
} */

/* container fluido */
.rodape{
    padding: 40px 0 !important;
    background-color: #3E4096;
    /* border-radius: 20px; */
}



/* container redes */
.redes_footer{
    align-items: center !important;
    text-align: center !important;
    justify-content: space-between !important;
    border-radius: 20px !important;
}
/* icones redes */
.rede_footer{
    color: white!important;
}
.rede_footer:hover{
    transform: scale(1.4); /* Aumenta levemente no hover */

}



/* container botao contate */
.botao_contate_footer{
    background-color: white !important;
    font-family:"Luckiest Guy", sans-serif !important;
    border: 1px solid transparent!important;
    border-radius: 15px!important;
    align-items: center!important;
    text-align: center!important;
    justify-content: center!important;
    color: #383992 !important;
    text-decoration: none !important;
}
/* tag <a> com o contate*/
a.botao_contate_footer{
    padding: 14px;
    
    
}
/* .botao_contate_footer:hover{
    color: black !important;
} */
.texto-botao:hover{
    transform: scale(1.3); /* Aumenta levemente no hover */
}


/* container direitos autorais */
.direitos_footer{
    text-align: center !important;
    border-radius: 20px!important;
    color: white !important;
    align-items: center!important;
}
div.direitos_footer{
    /* arrumar fonte */
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 20px;
}


